{% extends "base.html" %}

{% load static %}

<!-- 引入靜態資料 -->
{% block statics %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/top_button.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/home_rwd.css' %}">
<!-- <link rel="stylesheet" href="{% static 'css/landing_scss_rwd.css' %}"> -->
<style>
.page-1 {
  height: 100vh;
  background-image: url("{% static 'images/stock.jpg' %}");
  background-size: cover;
  position: relative;
}
.page-2 {
  height: 100vh;
  background: url("{% static 'images/sea.jpg' %}");
  background-size: cover;
  padding-top: 100px;
  /* padding-bottom: 30px; */
  position: relative;
}
</style>
{% endblock %}

<!-- 標題 -->
{% block title %}
Landing Page
{% endblock %}

<!-- 頁首內容 -->
{% block header %}
<li>
    <a href="#page-2" onclick="doCloseMenu()">
        <div class="en">About Us</div>
        <div class="tw"><i class="fa fa-circle-question fa-xl"></i>&nbsp; 關於我們</div>
    </a>
</li>
<li>
    <a href="#page-3" onclick="doCloseMenu()">
        <div class="en">Contact Us</div>
        <div class="tw"><i class="fa fa-comment fa-xl"></i>&nbsp; 聯絡我們</div>
    </a>
</li>
<li>
    <a href="/signup" onclick="doCloseMenu()">
        <div class="en">Register</div>
        <div class="tw"><i class="fa fa-user-plus fa-xl"></i>&nbsp; 註冊</div>
    </a>
</li>
{% endblock %}


<!-- 內容 -->
 {% block content %}
 <div class="page-1">
    <div class="container">
        <div class="box wow animate__animated animate__fadeInUpBig animate__delay-1s">
            <div>
                <h3 class="slogan">ai股票預測</h3>
                <div class="box-content left">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, distinctio error voluptatum accusamus est beatae quibusdam veniam animi, repudiandae, exercitationem eligendi earum aliquid incidunt ullam corporis a laboriosam molestias explicabo?
                </div>
            </div>
            <div>
                <h3 class="slogan"><span><img src="{% static 'images/logo.png' %}" style="width: 50px; height: 50px;"/> </span> <b>會員登入</b></h3>
                <div class="box-content right">
                    <form action="">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="帳號" maxlength="10" />
                            <span class="input-icon">
                                <span class="iconify" data-icon="bx:user-circle"></span>
                            </span>
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder=" 密碼" />
                            <span class="input-icon">
                                <i class="fa fa-lock"></i>
                                <!-- <span class="iconify" data-icon="cib:mail-ru"></span> -->
                            </span>
                        </div>
                        <div style="text-align: center;">
                            <button class="button">登入立即預測</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="mask"></div>
</div>
<div class="page-2" id="page-2">
    <div class="mask"></div>
    <div class="container">
        <h3 class="slogan">關於我們</h3>
        <div class="flow">
            <div class="item">
                <div class="circle"></div>
                <div class="content wow animate__animated animate__bounceInRight">
                    <div class="title">Step 1</div>
                    <div class="text">Some Thing...</div>
                </div>
            </div>
            <div class="item">
                <div class="circle"></div>
                <div class="content wow animate__animated animate__bounceInLeft">
                    <div class="title">Step 2</div>
                    <div class="text">Some Thing...</div>
                </div>
            </div>
            <div class="item">
                <div class="circle"></div>
                <div class="content wow animate__animated animate__bounceInRight">
                    <div class="title">Step 3</div>
                    <div class="text">Some Thing...</div>
                </div>
            </div>
            <div class="item">
                <div class="circle"></div>
                <div class="content wow animate__animated animate__bounceInLeft">
                    <div class="title">Step 4</div>
                    <div class="text">Some Thing...</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="wrap"></div> -->



<script src="{% static 'js/wow.min.js' %}"></script>
<script>
    new WOW().init();
    function doCloseMenu() {
        document.querySelector('#mobile-menu-switch-checkbox').checked = false;
    }
</script>


+ JavaScript(jQuery)
<button type="button" id="BackTop" class="toTop-arrow"></button>
<script>
$(function(){
	$('#BackTop').click(function(){ 
		$('html,body').animate({scrollTop:0}, 333);
	});
	$(window).scroll(function() {
		if ( $(this).scrollTop() > 300 ){
			$('#BackTop').fadeIn(222);
		} else {
			$('#BackTop').stop().fadeOut(222);
		}
	}).scroll();
});
</script>
 <!-- 回到最上層 -->
<button type="button" id="BackTop" class="toTop-arrow"></button>
<script>
$(function(){
	$('#BackTop').click(function(){ 
		$('html,body').animate({scrollTop:0}, 333);
	});
	$(window).scroll(function() {
		if ( $(this).scrollTop() > 300 ){
			$('#BackTop').fadeIn(222);
		} else {
			$('#BackTop').stop().fadeOut(222);
		}
	}).scroll();
});
</script>
 {% endblock %}

 
   
