{% extends "base.html" %}

{% load static %}

<!-- 引入靜態資料 -->
{% block statics %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" >
<script src="{% static 'js/eye.js' %}"></script>
{% endblock %}

<!-- 標題 -->
{% block title %}
login
{% endblock %}

<!-- 內容 -->
{% block content %}
  <!-- Navbar (sit on top) -->
  <div class="w3-top">
    <div class="w3-bar w3-black  w3-padding-16 w3-card" id="myNavbar" style="height: 90px;">
      <div class="w3-bar-left">
        <a href="#home" class="w3-bar-item"><img src="{% static 'images/logo.png' %}" alt="logo" width="40"
            height="40"></a>
        <a href="#home" class="w3-bar-item w3-button"
          style="font-size: larger; font-weight: bold;"><b>Neuromancer</b></a>
      </div>

      <!-- Right-sided navbar links -->
      <a href="#home" class="w3-bar-item w3-button" style="margin-left: 410px; line-height: 16px; ">
        <h2><b>會員登入</b> </h2>
      </a>
      <div class="w3-right w3-hide-small">
        <a href="/signup" class="w3-bar-item w3-button"><i class="fa fa-user-plus fa-xl"></i>&nbsp;會員註冊</a>
        <a href="/" class="w3-bar-item w3-button"><i class="fa fa-house-chimney fa-xl"></i>&nbsp;回首頁</a>
      </div>

    </div>
  </div>
  <!-- main  -->
  <div class=" text-center main" style="margin-top: 100px;">
    <main class="form-signin">
      <form method=post action="" autocomplete="off">
        <p><img src="{% static 'images/logo.png' %}" alt="logo" width="50" height="50"></p>
        <h1 class="h3 mb-3 fw-normal"><b>會員登入</b> </h1>
        <!-- 帳號輸入框 -->
        <div class="form-group">
          <div class="input-group mb-3">
            <span class="input-group-text">
              <i class="fa fa-user"></i>
            </span>
            <div class="form-floating" style=" width:263px;">
              <input type="text" name="account" class="form-control" placeholder="請輸入帳號" required>
              <label for="floatingInput">請輸入帳號</label>
            </div>
          </div>
        </div>
        <!-- 密碼輸入框 -->
        <div class="form-group">
          <div class="input-group mb-3">
            <span class="input-group-text">
              <i class="fa fa-lock"></i>
            </span>
            <div class="form-floating" style=" width:221px;">
              <input type="password" name="password" class="pwd form-control" placeholder="請輸入密碼" required>
              <label for="floatingInput">請輸入密碼</label>
            </div>
            <span class="input-group-text ">
              <a style="color: black;" onclick="show()">
                <i class="fa fa-eye-slash icon"></i>
              </a>
            </span>
          </div>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">登入</button>

      </form>

    </main>
  </div>

  {% endblock %}