{% extends "base.html" %}

{% load static %}

<!-- 引入靜態資料 -->
{% block statics %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}" >
<link rel="stylesheet" href="{% static 'css/home_rwd.css' %}" >
<script src="{% static 'js/eye.js' %}"></script>
{% endblock %}

<!-- 標題 -->
{% block title %}
signup
{% endblock %}

<!-- 頁首 -->
{% block header %}
<li>
  <a href="/">
      <div class="en">Home</div>
      <div class="tw"><i class="fa fa-house-chimney fa-xl"></i>&nbsp; 回首頁</div>
  </a>
</li>
{% endblock %}


<!-- 內容 -->
{% block content %}

  
  <!-- main  -->
  <div class="page-1 text-center main" style="margin-top: 100px; height: 100vh;">
    <main class="form-signup">
      <form method=post action="" autocomplete="off">
        <p><img src="{% static 'images/logo.png' %}" alt="logo" width="50" height="50"></p>
        <h1 class="h3 mb-3 fw-normal"><b>會員註冊</b> </h1>
        <!-- 帳號輸入框 -->
        <div class="form-group">
          <div class="input-group mb-3">
            <span class="input-group-text">
              <i class="fa fa-user"></i>
            </span>
            <div class="form-floating" style=" width: 263px;">
              <input type="text" name="account" class="form-control" placeholder="請輸入帳號" required>
              <label for="floatingInput">請輸入帳號</label>
            </div>
          </div>
        </div>
        <!-- 密碼輸入框 -->
        <div class="form-group">
          <div class="input-group mb-3">
            <span class="input-group-text">
              <i class="fa fa-lock"></i>
            </span>
            <div class="form-floating" style=" width: 221px;">
              <input type="password" name="password" class="pwd form-control" placeholder="請輸入密碼" required>
              <label for="floatingInput">請輸入密碼</label>
            </div>
            <span class="input-group-text ">
              <a style="color: black;" onclick="show()">
                <i class="fa fa-eye-slash icon"></i>
              </a>
            </span>
          </div>
        </div>
        <!-- 姓名輸入框 -->
        <div class="form-group">
          <div class="input-group mb-3 mt-3">
            <span class="input-group-text">
              <i class="fa fa-signature"></i>
            </span>
            <div class="form-floating" style=" width: 257.5px;">
              <input type="text" name="username" class="form-control" placeholder="請輸入姓名">
              <label for="floatingInput">請輸入姓名</label>
            </div>
          </div>
        </div>
        <!-- 生日輸入框 -->
        <!-- <div class="form-group">
        <div class="input-group mb-3 mt-3">
          <span class="input-group-text" >
            <i class="fa fa-calendar"></i>
          </span>
          <div  style=" width: 263px;">
           <input type="date" name="username" class="form-control" >
          </div>
        </div>  
      </div> -->
        <!-- 電話輸入框 -->
        <!-- <div class="form-group">
        <div class="input-group mb-3">
          <span class="input-group-text" >
            <i class="fa fa-phone"></i>
          </span>
          <div class="form-floating" style=" width: 261px;">
            <input type="text" name="account" class="form-control" placeholder="請輸入電話" required >
            <label for="floatingInput">請輸入電話</label>
          </div>
        </div>  
      </div> -->
        <!-- email輸入框 -->
        <div class="form-group">
          <div class="input-group mb-3 mt-3">
            <span class="input-group-text">
              <i class="fa fa-envelope"></i>
            </span>
            <div class="form-floating" style=" width: 261px;">
              <input type="email" name="email" class="form-control" placeholder="請輸入email" required>
              <label for="floatingInput">請輸入email</label>
            </div>
          </div>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">註冊</button>

      </form>

    </main>
  </div>
{% endblock %}
